
<div class="custom-transaction atk-box-large atk-swatch-ink atk-push-reset atk-shape-rounded-top">
  <div class="main-box"> 
    <div class="main-box-body clearfix">
      <div class="row xepan-push xepan-padding-vertical">{$Content}
        <div class="col-md-4 atk-form-row atk-form-field">
          Total Quantity to Complete
          {$total_qty_to_complete}
        </div>
        <div class="col-md-4 atk-form-row atk-form-field">
          Quantity to Complete
          {$qty_to_complete}
        </div>
        <div class="col-md-4 atk-form-row atk-form-field">{$warehouse}</div>
      </div>
      <div class="well">
        <h3> Consumable Items</h3>{$items}
      </div>
    </div>
  </div>
</div>