.custom-transaction.atk-box-large.atk-swatch-ink.atk-push-reset.atk-shape-rounded-top
	.main-box 
		.main-box-body.clearfix
			.row.xepan-push.xepan-padding-vertical
				{$Content}
				.col-md-4.atk-form-row.atk-form-field
					|Total Quantity to Complete
					{$total_qty_to_complete}
				.col-md-4.atk-form-row.atk-form-field
					|Quantity to Complete
					{$qty_to_complete}
				.col-md-4.atk-form-row.atk-form-field
					{$warehouse}
			.well
				h3  Consumable Items
				{$items}
			//- {$FormButtons}
