#tab-activity
  {$activity}
.row
  .table-responsive
    table.table
      tbody
        tr
          td.text-center
            i.fa.fa-comment
          td Approved invoice number {order_no}1001{}
          td {date}date{/}
        tr
          td.text-center
            i.fa.fa-truck
          td
            | changed order status from 
            span.label.label-primary Pending
            | to 
            span.label.label-success Completed
          td {date}date{/}
        tr
          td.text-center
            i.fa.fa-check
          td form-groupt approval for holidays 
          td {date}date{/}
        tr
          td.text-center
            i.fa.fa-truck
          td
            | changed order status from 
            span.label.label-primary {status}Pending{/}
            | to 
            span.label.label-success Completed
          td {date}date{/}