div(id="{$_name}" class="{$class}" style="{$style}")
	section.cd-container(id="cd-timeline")
		{rows}
		{row}
		.cd-timeline-block
			.cd-timeline-img.cd-picture
				i.fa.fa-photo.fa-2x
			.cd-timeline-content
				h2 {$jobcard_no}
				p
					| {$jobcard_detail} 
				.clearfix
					a.btn.btn-primary.pull-right {$status}
				span.cd-date {$department_name}
		{/}{/}
	style.
		.cd-container {
		    margin: 0 auto;
		    max-width: 1170px;
		    width: 90%;
		}
		.cd-container::after {
		    clear: both;
		    content: "";
		    display: table;
		}
		#cd-timeline {
		    margin-bottom: 20px;
		    margin-top: 10px;
		    padding: 2em 0;
		    position: relative;
		}
		#cd-timeline::before {
		    background: #c2dcee none repeat scroll 0 0;
		    content: "";
		    height: 100%;
		    left: 18px;
		    position: absolute;
		    top: 0;
		    width: 6px;
		}
		@media only screen and (min-width: 1170px) {
		#cd-timeline {
		    margin-bottom: 20px;
		    margin-top: 10px;
		}
		#cd-timeline::before {
		    left: 50%;
		    margin-left: -2px;
		}
		}
		.cd-timeline-block {
		    margin: 2em 0;
		    position: relative;
		}
		.cd-timeline-block::after {
		    clear: both;
		    content: "";
		    display: table;
		}
		.cd-timeline-block:first-child {
		    margin-top: 0;
		}
		.cd-timeline-block:last-child {
		    margin-bottom: 0;
		}
		@media only screen and (min-width: 1170px) {
		.cd-timeline-block {
		    margin: 4em 0;
		}
		.cd-timeline-block:first-child {
		    margin-top: 0;
		}
		.cd-timeline-block:last-child {
		    margin-bottom: 0;
		}
		}
		.cd-timeline-img {
		    background: #3498db none repeat scroll 0 0;
		    border-radius: 50%;
		    box-shadow: 0 0 0 6px #c2dcee;
		    color: #fff;
		    height: 40px;
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 40px;
		}
		.cd-timeline-img i {
		    display: block;
		    font-size: 1.4em;
		    height: 24px;
		    left: 50%;
		    line-height: 24px;
		    margin-left: -16px;
		    margin-top: -12px;
		    position: relative;
		    text-align: center;
		    top: 50%;
		    width: 32px;
		}
		@media only screen and (min-width: 1170px) {
		.cd-timeline-img {
		    backface-visibility: hidden;
		    height: 60px;
		    left: 50%;
		    margin-left: -29px;
		    transform: translateZ(0px);
		    width: 60px;
		}
		.cd-timeline-img i {
		    font-size: 2em;
		}
		.cssanimations .cd-timeline-img.is-hidden {
		    visibility: hidden;
		}
		.cssanimations .cd-timeline-img.bounce-in {
		    animation: 0.6s ease 0s normal none 1 running cd-bounce-1;
		    visibility: visible;
		}
		}
		@keyframes cd-bounce-1 {
		0% {
		    opacity: 0;
		    transform: scale(0.5);
		}
		60% {
		    opacity: 1;
		    transform: scale(1.2);
		}
		100% {
		    transform: scale(1);
		}
		}
		@keyframes cd-bounce-1 {
		0% {
		    opacity: 0;
		    transform: scale(0.5);
		}
		60% {
		    opacity: 1;
		    transform: scale(1.2);
		}
		100% {
		    transform: scale(1);
		}
		}
		@keyframes cd-bounce-1 {
		0% {
		    opacity: 0;
		    transform: scale(0.5);
		}
		60% {
		    opacity: 1;
		    transform: scale(1.2);
		}
		100% {
		    transform: scale(1);
		}
		}
		.cd-timeline-content {
		    background: #fff none repeat scroll 0 0;
		    border-radius: 3px;
		    box-shadow: 1px 1px 2px 0 #cccccc;
		    margin-left: 60px;
		    padding: 1em;
		    position: relative;
		}
		.cd-timeline-content::after {
		    clear: both;
		    content: "";
		    display: table;
		}
		.cd-timeline-content h2 {
		    font-size: 1.5em;
		    font-weight: 600;
		    margin: 0;
		    padding: 0;
		}
		.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
		    font-size: 1em;
		}
		.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
		    display: inline-block;
		}
		.cd-timeline-content p {
		    color: #7f8c97;
		    line-height: 1.6;
		    margin: 1em 0;
		}
		.cd-timeline-content .cd-read-more {
		    background: #acb7c0 none repeat scroll 0 0;
		    border-radius: 0.25em;
		    color: white;
		    float: right;
		    padding: 0.8em 1em;
		}
		.no-touch .cd-timeline-content .cd-read-more:hover {
		    background-color: #bac4cb;
		}
		.cd-timeline-content .cd-date {
		    float: left;
		    opacity: 0.7;
		    padding: 0.8em 0;
		}
		.cd-timeline-content::before {
		    -moz-border-bottom-colors: none;
		    -moz-border-left-colors: none;
		    -moz-border-right-colors: none;
		    -moz-border-top-colors: none;
		    border-color: transparent white transparent transparent;
		    border-image: none;
		    border-style: solid;
		    border-width: 7px;
		    content: "";
		    height: 0;
		    position: absolute;
		    right: 100%;
		    top: 16px;
		    width: 0;
		}
		@media only screen and (min-width: 768px) {
		.cd-timeline-content h2 {
		}
		.cd-timeline-content p {
		}
		.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
		    font-size: 0.875rem;
		}
		}
		@media only screen and (min-width: 1170px) {
		.cd-timeline-content {
		    margin-left: 0;
		    padding: 1.6em;
		    width: 45%;
		}
		.cd-timeline-content::before {
		    border-color: transparent transparent transparent white;
		    left: 100%;
		    top: 24px;
		}
		.cd-timeline-content .cd-read-more {
		    float: left;
		}
		.cd-timeline-content .cd-date {
		    color: #3498db;
		    font-size: 1.9em;
		    left: 121%;
		    position: absolute;
		    top: -12px;
		    width: 100%;
		}
		.cd-timeline-block:nth-child(2n) .cd-timeline-content {
		    float: right;
		}
		.cd-timeline-block:nth-child(2n) .cd-timeline-content::before {
		    border-color: transparent white transparent transparent;
		    left: auto;
		    right: 100%;
		    top: 24px;
		}
		.cd-timeline-block:nth-child(2n) .cd-timeline-content .cd-read-more {
		    float: right;
		}
		.cd-timeline-block:nth-child(2n) .cd-timeline-content .cd-date {
		    left: auto;
		    right: 121%;
		    text-align: right;
		}
		.cssanimations .cd-timeline-content.is-hidden {
		    visibility: hidden;
		}
		.cssanimations .cd-timeline-content.bounce-in {
		    animation: 0.6s ease 0s normal none 1 running cd-bounce-2;
		    visibility: visible;
		}
		}
		@media only screen and (min-width: 1170px) {
		.cssanimations .cd-timeline-block:nth-child(2n) .cd-timeline-content.bounce-in {
		    animation: 0.6s ease 0s normal none 1 running cd-bounce-2-inverse;
		}
		}
		@media only screen and (max-width: 1170px) {
		.cd-timeline-content .cd-date {
		    display: none;
		}
		.cd-timeline-content .btn {
		    font-size: 12px;
		    padding: 5px 10px;
		}
		}
		@keyframes cd-bounce-2 {
		0% {
		    opacity: 0;
		    transform: translateX(-100px);
		}
		60% {
		    opacity: 1;
		    transform: translateX(20px);
		}
		100% {
		    transform: translateX(0px);
		}
		}
		@keyframes cd-bounce-2 {
		0% {
		    opacity: 0;
		    transform: translateX(-100px);
		}
		60% {
		    opacity: 1;
		    transform: translateX(20px);
		}
		100% {
		    transform: translateX(0px);
		}
		}
		@keyframes cd-bounce-2 {
		0% {
		    opacity: 0;
		    transform: translateX(-100px);
		}
		60% {
		    opacity: 1;
		    transform: translateX(20px);
		}
		100% {
		    transform: translateX(0px);
		}
		}
		@keyframes cd-bounce-2-inverse {
		0% {
		    opacity: 0;
		    transform: translateX(100px);
		}
		60% {
		    opacity: 1;
		    transform: translateX(-20px);
		}
		100% {
		    transform: translateX(0px);
		}
		}
		@keyframes cd-bounce-2-inverse {
		0% {
		    opacity: 0;
		    transform: translateX(100px);
		}
		60% {
		    opacity: 1;
		    transform: translateX(-20px);
		}
		100% {
		    transform: translateX(0px);
		}
		}
		@keyframes cd-bounce-2-inverse {
		0% {
		    opacity: 0;
		    transform: translateX(100px);
		}
		60% {
		    opacity: 1;
		    transform: translateX(-20px);
		}
		100% {
		    transform: translateX(0px);
		}
		}
		@media only screen and (min-width: 1170px) {
		.rtl .cd-timeline-img {
		    left: auto;
		    margin-left: 0;
		    margin-right: -29px;
		    right: 50%;
		}
		.rtl .cd-timeline-block:nth-child(2n) .cd-timeline-content::before {
		    border-color: transparent transparent transparent white;
		    left: 100%;
		    right: auto;
		}
		.rtl .cd-timeline-block:nth-child(2n) .cd-timeline-content {
		    float: left;
		}
		.rtl .cd-timeline-block:nth-child(2n) .cd-timeline-content .cd-date {
		    left: 121%;
		    right: auto;
		    text-align: left;
		}
		}
		.rtl .cd-timeline-img i {
		    left: auto;
		    margin-left: 0;
		    margin-right: -16px;
		    right: 50%;
		}
		.rtl .cd-timeline-content::before {
		    border-color: transparent white transparent transparent;
		}
		.rtl .cd-timeline-content .cd-date {
		    left: auto;
		    right: 121%;
		}

