
<div id="portfolio">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-9">
            <header class="main-box-header clearfix">
              <h2>Company Information</h2>
            </header>
          </div>
          <div class="col-lg-3">
            <button type="submit" class="btn btn-success">Edit Information   </button>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-lg-4">
            <label>Company Name:</label><br/>Xavoc Technocrats pvt.ltd udaipur
          </div>
          <div class="col-lg-4">
            <label>Company Type:</label><br/>IT
          </div>
          <div class="col-lg-4">
            <label>Registeration:</label><br/> 153522
          </div>
        </div>
      </div>
      <div class="row">
        <header class="main-box-header clearfix">
          <h2>Orders:</h2>
          <div class="row">
            <div class="col-lg-4">
              <label>Item:</label><br/> printing
            </div>
            <div class="col-lg-4">
              <label>Type:</label><br/> digital printing
            </div>
            <div class="col-lg-4">
              <label>Created Date:</label><br/> 06-feb-16
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <label>Department:<br/></label> IT
            </div>
            <div class="col-lg-4">
              <label>Price:</label><br/>
            </div>
            <div class="col-lg-4">
              <label>Duration:</label><br/> 7 months{From To Date}         
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
</div>