
<div id="tab-orderstatus">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-9">
            <header class="main-box-header clearfix">
              <h2>Company Information</h2>
            </header>
          </div>
          <div class="col-lg-3">
            <button type="submit" class="btn btn-success">Edit Information   </button>
          </div>
        </div><br/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>Job Card</span></th>
            <th><span>Duration</span></th>
            <th class="text-center"><span>Status</span></th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img alt="" src="img/samples/scarlet-159.png"/><a href="{url}?page=xepan_production_jobcarddetail{/}" class="user-link">I.B printing corporates</a><span><small>F-4301 Greeting Card</small></span></td>
            <td><span>15-02-2016</span>
              <div><a class="user-subhead">3 days left</a></div>
            </td>
            <td class="text-center"><span style="width:10%;"><img style="width:80%" src="/xepan2/vendor/xepan/production/templates//img/new.png"/></span><span class="btn btn-success">Next</span></td>
            <td style="width: 10%;"><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="glyphicon glyphicon-remove-circle fa-stack-1x fa-inverse">     </i></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>