#portfolio
  .row
    .panel.panel-default
      .panel-body
        .row
          .col-lg-9
            header.main-box-header.clearfix
              h2 Company Information
          .col-lg-3
            button.btn.btn-success(type='submit') Edit Information   
        br
        .row
          .col-lg-4
            label Company Name:
            br
            | Xavoc Technocrats pvt.ltd udaipur
          .col-lg-4
            label Company Type:
            br
            | IT
          .col-lg-4
            label Registeration:
            br
            |  153522
      .row
          header.main-box-header.clearfix
            h2 Orders:
            .row
              .col-lg-4
                label Item:
                br
                |  printing
              .col-lg-4
                label Type:
                br
                |  digital printing
              .col-lg-4
                label Created Date:
                br
                |  06-feb-16
            .row
              .col-lg-4
                label Department:
                  br
                |  IT
              .col-lg-4
                label Price:
                br
              .col-lg-4
                label Duration:
                br
                |  7 months{From To Date}         