
<div id="tab-portfolio">{$portfolio}
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-9">
            <header class="main-box-header clearfix">
              <h2>Banking Information</h2>
            </header>
          </div>
          <div class="col-lg-3">
            <button type="submit" class="btn btn-success">Edit Information   </button>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-lg-4">
              <label>Bank Name:<br/>{bank_name}state Bank of India{/}</label>
            </div>
            <div class="col-lg-4">
              <label>Account Type:</label><br/>{account_type}Current{/}
            </div>
            <div class="col-lg-4">
              <label>Account No:</label><br/> {account_no}153522{/}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <header class="main-box-header clearfix">
              <h2>TIN and PAN Information</h2>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-lg-4">
              <label>Country:<br/>{country}India{/}</label>
            </div>
            <div class="col-lg-4">
              <label>Type:
                <div class="checkbox-nice">
                  <input id="checkbox-1" type="checkbox"/>
                  <label for="checkbox">TIN</label>
                </div>
                <div class="checkbox-nice">
                  <input id="checkbox-1" type="checkbox"/>
                  <label for="checkbox">PAN</label>
                </div>
              </label>
            </div>
            <div class="col-lg-4">
              <label>TIN-NO:   {tin_no}215451321{/}</label><br/><br/>
              <label>PAN-NO:   {pan_it_no}21566523{/}</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <header class="main-box-header clearfix">
              <h2>Department</h2>
            </header>
            <div class="row">
              <div class="col-sm-4">
                <div class="row">
                  <div class="checkbox-nice">
                    <input id="checkbox-1" type="checkbox"/><span class="col-sm-3"></span>
                    <label for="checkbox">HR</label>
                  </div>
                </div>
                <div class="row">
                  <div class="checkbox-nice">
                    <input id="checkbox-1" type="checkbox"/><span class="col-sm-3"></span>
                    <label for="checkbox">Production</label>
                  </div>
                </div>
                <div class="row">
                  <div class="checkbox-nice">
                    <input id="checkbox-1" type="checkbox"/><span class="col-sm-3"></span>
                    <label for="checkbox">Store</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4"> </div>
            </div>
          </div>
          <div class="col-lg-6">
            <header class="main-box-header clearfix">
              <h2>Address:<br/></h2>
              <label>A-124 Ram Nagar, Sodala, Pink-City</label>
              <!--| {address}India{/}-->
            </header>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>