.main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs.responsive-tabs
          //- li.active
          //-   a(data-toggle='tab', href='#tab-user') User Managment 
          li.active
            a(data-toggle='tab', href='#jobcard-received') Jobcard Receivced Mail Content 
          //- li
          //-   a(data-toggle='tab', href='#reject-reply') Support Denied Mail Content
          //- li
          //-   a(data-toggle='tab', href='#close-reply') Closed Ticket Mail Content
        .tab-content
          #jobcard-received.tab-pane.active
            {$jobcard-received}                       
          //- #reject-reply.tab-pane
          //-   {$reject-reply}                       
          //- #close-reply.tab-pane
          //-   {$close-reply}                       