{$Content}
.row
  .col-lg-3.co-md-3.col-sm-3
    {contact_view}
    include contact.jade
    {/contact_view}
  .col-lg-9.col-md-8.col-sm-8
      .main-box.clearfix
        .tabs-wrapper.profile-tabs
          ul.nav.nav-tabs
            li.active
              a(data-toggle='tab', href='#tab-portfolio') Portfolio
            li
              a(data-toggle='tab', href='#tab-orderstatus') OrderStatus 
            li.active
              a(data-toggle='tab', href='#tab-activity') Activity
          .tab-content
              #tab-orderstatus.tab-pane.clearfix.fade.in
                {$orderstatus} 
              #tab-activity.tab-pane.clearfix.fade
                {$activity} 
              #tab-portfolio.tab-pane.fade.in.active
                {$portfolio}