
<div class="main-box no-header clearfix">
  <header class="main-box-header clearfix">
    <h2 style="text-align:center;">Staus: {$status}</h2>
  </header>
  <div class="main-box-body clearfix">
    <div id="invoice-companies" class="row">
      <div class="col-sm-4 invoice-box">
        <div class="invoice-icon hidden-sm"><i class="fa fa-home"></i> From</div>
        <div>
          <h4> {customer_name}customer name{/}</h4>
          <div class="xepan-push"></div>
          <p>{address}{/}</p>
          <p>{city}{/},&nbsp;{state}{/},&nbsp;{country}{/}</p>
        </div>
      </div>
      <div class="col-sm-4 invoice-box">
        <h4>Order No.: {order_no}{/}</h4>
        <div class="xepan-push"></div>Create at:  {order_created_at}{/}
      </div>
      <div class="col-sm-4 invoice-box invoice-box-dates">
        <div class="invoice-dates">
          <div class="row clearfix">
            <div class="col-md-6 invoice-number"><strong>Jobcard No.</strong></div>
            <div class="col-md-6 invoice-number input-full-width"><span style="margin:auto;" class="pull-right atk-form-row atk-form-field">{$id}</span></div>
          </div>
          <div class="invoice-date clearfix"><strong>Create Date:</strong><span class="pull-right">{$created_at}</span></div>
          <div class="clearfix"><strong>Due Date: </strong><span class="pull-right">{$due_date}</span></div>
        </div>
      </div>
    </div>
    <div class="invoice-box clearfix">    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><span>Item</span></th>
            <th><span>to</span></th>
            <th><span>Quantity</span></th>
            <th><span>Progress/Detail</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong class="h4">{$order_item}</strong>
              <div>{$extra_info}</div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="invoice-box-total clearfix">
    <div class="invoice-summary row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="invoice-summary-item">
          <h1>{$action}Approved By-
            <div class="xepan-push"></div>
          </h1>
          <div> Approved person
            <div class="pull-right"><a class="user-subhead"><strong> {$contact}Sushil</strong></a></div>
          </div>
          <div> Approved date<span class="pull-right">{$create_date}</span></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="invoice-summary-item">
          <h1>Department
            <div class="xepan-push"></div>
          </h1>
          <div>From Department<span class="pull-right">{form_department}Design{/}</span></div>
          <div>Current Department<span class="pull-right">{current_department}printing{/}</span></div>
          <div>Next Department<span class="pull-right">{next_department} Discard{/}</span></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="invoice-summary-item">
          <h1> JobCard Create By
            <div class="xepan-push"></div>
          </h1>
          <div> person
            <div class="pull-right"><a class="user-subhead"><strong> {$personname}Anshu</strong></a></div>
          </div>
          <div> Department<span class="pull-right">{$current_depatment}printing</span></div>
          <div> Create Date<span class="pull-right">{$create_date}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>