.main-box.no-header.clearfix
  header.main-box-header.clearfix
      h2(style="text-align:center;") Staus: {$status}
  .main-box-body.clearfix
    #invoice-companies.row
      .col-sm-4.invoice-box
        .invoice-icon.hidden-sm
          i.fa.fa-home
          |  From
        div
          h4  {customer_name}customer name{/}
          .xepan-push
          p {address}{/}
          p {city}{/},&nbsp;{state}{/},&nbsp;{country}{/}
      .col-sm-4.invoice-box
          h4 Order No.: {order_no}{/}
          .xepan-push
          | Create at:  {order_created_at}{/}

      .col-sm-4.invoice-box.invoice-box-dates
          .invoice-dates
            .row.clearfix
              .col-md-6.invoice-number
                strong Jobcard No.
              .col-md-6.invoice-number.input-full-width
                span.pull-right.atk-form-row.atk-form-field(style="margin:auto;") {$id}
            .invoice-date.clearfix
              strong Create Date:
              span.pull-right {$created_at}
            .clearfix
              strong Due Date: 
              span.pull-right {$due_date}
    .invoice-box.clearfix     
    .table-responsive
      table.table
        thead
          tr
            th
              span Item
            th
              span Quantity
            th
              span Progress/Detail
        tbody
          tr
            td
              a.user-subhead
                strong.h4| {$order_item}
              div {$extra_info}
            td {quantity}

  .invoice-box-total.clearfix
    .invoice-summary.row
      .col-md-4.col-sm-6.col-xs-12
        .invoice-summary-item
          h1|{$action}Approved By-
              .xepan-push
            div|  Approved person
              .pull-right
                a.user-subhead
                  strong  {$contact}Sushil
            div|  Approved date
              span.pull-right {$create_date}
      .col-md-4.col-sm-6.col-xs-12
        .invoice-summary-item
           h1|Department
              .xepan-push
            div| From Department
              span.pull-right{form_department}Design{/}
            div| Current Department
              span.pull-right {current_department}printing{/}
            div| Next Department
              span.pull-right {next_department} Discard{/}
      .col-md-4.col-sm-6.col-xs-12
        .invoice-summary-item
             h1|  JobCard Create By
                .xepan-push
              div|  person
                .pull-right
                  a.user-subhead
                    strong  {$personname}Anshu
              div|  Department
                span.pull-right {$current_depatment}printing
              div|  Create Date
                span.pull-right {$create_date}
