.xepan-grid.main-box.clearfix.atk-table.atk-table-zebra.atk-table-bordered(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block( style="100%")
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                span(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix.table
        table.table.user-list.table-hover(style="width:100%")
            {header}
            thead
                {cols}{col}
                th
                  span Jobcard
                th
                  span Duration
                th.text-center
                  span Status
                th
                {/}{/}
            {/}
            {$subheader}

            tbody
                {rows}{row}
                tr(class="{$odd_even}" data-id="{$id}")
                    {cols}
                    td(style="width: 30%;")
                        {avatar}
                        img(src='img/samples/scarlet-159.png', alt='')
                        {/}
                        a.user-link(href = '{url}?page=xepan_production_jobcarddetail&qsp_master_id={$id}{/}')
                            {$jobcard_no}
                            small ({order_name} Business Card{/})
                        a(href='{url}?page=xepan_production_profile&outsource_party_id={$id}{/}')
                            span.user-subhead {$name}
                          //- img(alt='' src='img/samples/scarlet-159.png')
                          //- a.user-link(href='{url}?page=xepan_production_jobcarddetail&qsp_master_id={$id}{/}') {name}I.B printing corporates{/}
                          //- span.user-subhead {jobcard_no}F-4301{/} /
                          //-      {order_name} Business Card{/}
                    td
                        span|{date}15-02-2016{/}
                          div
                            |{day}3 daysleft{/}
                    td.text-center
                        span(style='width:10%;')
                            img(style='width:60%', src='/xepan2/vendor/xepan/production/templates//img/new.png')
                            span.btn.btn-success Next
                    td(style="width: 15%;")
                        {$edit}
                        {$delete}
                    
                    {/}
                {/}{/}
                {not_found}
                div.row
                    .col-md-12.text-center.alert.alert-warning(role="alert")
                        span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
                {/}

            {totals}
            tfoot
                tr(class="totals")
                    {cols}{col}
                    <td {$tdparam}>
                    {$content}
                    </td>
                    {/}{/}
            {/}
        {$Paginator}
