
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th><span>Jobcard</span></th>
        <th><span>Duration</span></th>
        <th><span>Quantity</span></th>
        <th><span>Department</span></th>
        <th><span>toreceived</span></th>
        <th><span>processing</span></th>
        <th><span>forwarded</span></th>
        <th><span>completed</span></th>
        <th><span>Status</span></th>
        <th></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td style="width: 30%;">{avatar}<img src="img/samples/scarlet-159.png" alt=""/>{/}<a href="{url}?page=xepan_production_jobcarddetail&amp;document_id={$id}{/}" class="user-link">{$id}</a><small><a href="{url}?page=xepan_commerce_salesorderdetail&amp;document_id={$id{/}" class="user-link"> 
                <div class="user-subhead">{document_no}sale order{/}</div></a><a href="{url}?page=xepan_commerce_customerdetail&amp;contact_id={$id}{/}" class="user-link">
                <div class="user-subhead">{customer_id}customer{/}</div></a></small></td>
          <td>
            <div class="row"><span>{$created_date} </span></div>
            <div class="row">       <span>{$days_elapsed} days elapsed</span></div>
          </td>
          <td><span>{$order_item_quantity}</span></td>
          <td><span>{$departmental_status}</span></td>
          <td><span>{$toreceived}</span></td>
          <td><span>{$processing}</span></td>
          <td><span>{$forwarded}</span></td>
          <td><span>{$completed}</span></td>
          <td><span>{$action}</span></td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>