
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th><span>Jobcard</span></th>
        <th><span>Duration</span></th>
        <th class="text-center"><span>Status</span></th>
        <th></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td style="width: 30%;">{avatar}<img src="img/samples/scarlet-159.png" alt=""/>{/}<a href="{url}?page=xepan_production_jobcarddetail&amp;qsp_master_id={$id}{/}" class="user-link">{$jobcard_no}<small>{order_item} Business Card{/}</small></a><a href="{url}?page=xepan_production_profile&amp;outsource_party_id={$id}{/}"><span class="user-subhead">{$name}</span></a></td>
          <td>
            <div class="row"><span>{$created_date} </span></div>
            <div class="row">       <span>{$days_elapsed} days elapsed</span></div>
          </td>
          <td class="text-center"><span style="width:10%;"><img style="width:60%" src="/xepan2/vendor/xepan/production/templates//img/new.png"/><span class="btn btn-success">Next</span></span></td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>