
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} "></header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th><a href="#"></a><span>Select</span></th>
        <th><a href="#"></a><span>item</span></th>
        <th class="text-right"><a href="#" class="asc"></a><span>Quantity</span></th>
        <th> </th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td>{$selected}</td>
          <td>{$item_name}</td>
          <td class="text-right">{$quantity}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>