div.panel.panel-default.panel-body
	.row.atk-form-row.atk-form-field.xepan-push-small
		strong Date Range :
		{$date_range}
	{contact_wrapper}
	.row.atk-form-row.atk-form-field.xepan-push-small
		strong Customer :
		{$contact}
	{/}
	{department_wrapper}
	.row.atk-form-row.atk-form-field.xepan-push-small
		strong Department :
		{$department}
	{/}	
	{outsourceparty_wrapper}
	.row.atk-form-row.atk-form-field.xepan-push-small
		strong Outsource Party :
		{$outsource_party}
	{/}	
	{extra_field_wrapper}
	.row.atk-form-row.atk-form-field.xepan-push-small
		.col-md-6
			strong Status :
			{$status}
		.col-md-6
			strong Order :
			{$order}
	{/}
	.row.xepan-push-small
		{$FormButtons}