div.panel.panel-default.panel-body
	.row.atk-form-row.atk-form-field.xepan-push-small
		strong Date Range :
		{$date_range}
	.row.atk-form-row.atk-form-field.xepan-push-small
		strong Contact :
		{$contact}
	.row.xepan-push-small
		{$FormButtons}