
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="btnn btn-primaryy pull-right">{$grid_buttons} 
      </div>
      <div style="width:50%;margin:auto" class="form-group">
        <div class="pull-right"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
      </div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="user-list table-hover">{header}
      <thead>
        <tr>{cols}{col}
          <th><span>OutSource Parties </span></th>
          <th class="text-center"><span>Status</span></th>
          <th class="text-center"><span>Panding Job-Card</span>
            <th></th>
          </th>{/}{/}
        </tr>
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}  
          <td style="width: 30%;"><img alt="" src="img/samples/scarlet-159.png"/><a href="{url}?page=xepan_production_outsourceprofile&amp;contact_id={$id}{/}" class="user-link">{outsource_party}outsource party{/}<span><small>{address}F-4301{/}</small></span></a></td>
          <td class="text-center">{status} InActive{/}</td>
          <td class="text-center">{panding_jobcard} 5{/}</td>
          <td style="width: 15%;">
            {edit}edit{/}
            {delete}delete{/}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <tr>
          <td class="atk-padding-large atk-align-center"><span class="atk-label atk-effect-warning"><span class="icon-attention">&nbsp;{$not_found_message}</span></span></td>
        </tr>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>