
<div id="{$_name}" class="xepan-grid main-box clearfix atk-table atk-table-zebra atk-table-bordered {$class}">{Pannel}
  <header class="main-box-header clearfix atk-actions  {$class} ">
    <div style="100%" class="filter-block">
      <div class="pull-right">{$grid_buttons} </div>
      <div class="form-group pull-right xepan-filter-form"><span class="form-control pull-left">{$quick_search}<i class="fa fa-search search-icon"></i></span></div>
    </div>
  </header>{/Pannel}
  <div class="main-box-body clearfix table">
    <table style="width:100%" class="table user-list table-hover">{header}
      <thead>{cols}{col}
        <th><span>OutSource Parties </span></th>
        <th class="text-center"><span>Status</span></th>
        <th class="text-center"><span>Panding Job-Card</span></th>
        <th></th>{/}{/}
      </thead>{/}
      {$subheader}
      <tbody>{rows}{row}
        <tr data-id="{$id}" class="{$odd_even}">{cols}
          <td style="width: 30%;"><img alt="" src="img/samples/scarlet-159.png"/><a href="{url}?page=xepan_production_profile&amp;contact_id={$id}{/}" class="user-link">{name}outsource party{/}</a><span></span><small>{os_address}F-4301{/}</small></td>
          <td class="text-center">{status} InActive{/}</td>
          <td class="text-center">{panding_jobcard} 5{/}</td>
          <td style="width: 15%;">
            {$edit}
            {$delete}
          </td>{/}
        </tr>{/}{/}
        {not_found}
        <div class="row">
          <div role="alert" class="col-md-12 text-center alert alert-warning"><span class="icon-attention fa fa-exclamation-triangle"> &nbsp;{$not_found_message}</span></div>
        </div>{/}
      </tbody>{totals}
      <tfoot>
        <tr class="totals">
          {cols}{col}
          <td {$tdparam}>
          {$content}
          </td>
          {/}{/}
        </tr>
      </tfoot>{/}
    </table>{$Paginator}
  </div>
</div>