#tab-orderstatus
  {$orderstatus}
  .row
    .panel.panel-default
      .panel-body
        .row
          .col-lg-9
            header.main-box-header.clearfix
              h2 Company Information
          .col-lg-3
            button.btn.btn-success(type='submit') Edit Information   
        br
  .row
    .table-responsive
      table.table.user-list.table-hover
        thead
          tr
            th
              span Job Card
            th
              span Duration
            th.text-center
              span Status
            th  
        tbody
          tr
            td
              img(alt='' src='img/samples/scarlet-159.png')
              a.user-link(href='{url}?page=xepan_production_jobcarddetail{/}') {order_id}F-4301{/}{order_name}( Greeting Card){/}
              span {name}I.B printing corporates{/}
            td
              span|{date}15-02-2016{/}
              div
               a.user-subhead|{day}3 days left{/}          
            
            td(style='width: 10%;')
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.glyphicon.glyphicon-remove-circle.fa-stack-1x.fa-inverse      