#tab-orderstatus
  {$orderstatus}
  .row
    .table-responsive
      table.table.user-list.table-hover.footable.toggle-circle-filled(style="width:100%")
        thead
          tr
            th
              span Jobcard
            th
              span Duration
            th(data-hide="phone")
              span Quantity
            th
              span Department
            th(data-hide="phone")
              span toreceived
            th(data-hide="phone")
              span processing
            th(data-hide="phone")
              span forwarded
            th(data-hide="phone")
              span completed
            th
              span Status
            th  
        tbody
          tr
            td(style="width: 30%;")
              {avatar}
              img(src='img/samples/scarlet-159.png', alt='')
              {/}
              //- a.user-link.do-view-outsourceparties-jobcard(href = '{url}?page=xepan_production_jobcarddetail&document_id={$id}{/}')
              a.user-link.do-view-outsourceparties-jobcard(href = '#' data-id="{$id}")
                  {$id}
              small
                  //- a.user-link.do-view-outsourceparties-order(href='{url}?page=xepan_commerce_salesorderdetail&document_id={$id{/}') 
                  a.user-link.do-view-outsourceparties-order(href='#' data-id="{$id}") 
                      .user-subhead{document_no}1111{/}
                 
              //- a.user-link(href='{url}?page=xepan_commerce_customerdetail&contact_id={$id}{/}')
              a.user-link.do-view-outsourceparties-customer-details(href='#' data-id="{$id}" )
                 h6 {customer_id}Xavoctacnocratspvt.ltd{/}
               

            td
                .row
                    span {$created_date} 
                .row        
                    span {days_elapsed} days elapsed{/}
            td
                span {$order_item_quantity}
            td
                span {departmental_status}processing{/}
            td
                span {$toreceived}
            td
                span {$processing}
            td
                span {$forwarded}
            td
                span {$completed}
            td
                span {$action}
            td(style="width: 10%;")
              a.table-link.danger(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-trash-o.fa-stack-1x.fa-inverse
              a.table-link(href='#')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.glyphicon.glyphicon-remove-circle.fa-stack-1x.fa-inverse      
