
<div id="tab-orderstatus">{$orderstatus}
  <div class="row">
    <div class="table-responsive">
      <table class="table user-list table-hover">
        <thead>
          <tr>
            <th><span>Job Card</span></th>
            <th><span>Duration</span></th>
            <th class="text-center"><span>Status</span></th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img alt="" src="img/samples/scarlet-159.png"/><a href="{url}?page=xepan_production_jobcarddetail{/}" class="user-link">{order_id}F-4301{/}{order_name}( Greeting Card){/}</a><span>{name}I.B printing corporates{/}</span></td>
            <td><span>{date}15-02-2016{/}</span>
              <div><a class="user-subhead">{day}3 days left{/}          </a></div>
            </td>
            <td style="width: 10%;"><a href="#" class="table-link danger"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-trash-o fa-stack-1x fa-inverse"></i></span></a><a href="#" class="table-link"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="glyphicon glyphicon-remove-circle fa-stack-1x fa-inverse">     </i></span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>