#tab-portfolio
  {$portfolio}
  .col-lg-12
  .panel.panel-default
    .panel-body 
      .col-lg-12.xepan-push
        .col-md-12
          .panel.panel-default
            .panel-body
                .col-md-12
                  h2 Banking Information
                  br
                .col-md-12
                  .col-md-4
                    strong Bank Name:
                    br
                    {bank_name}state Bank of India{/}
                    
                  .col-md-4 
                    strong Account Type:
                    br
                    {account_type}Current{/}
                  .col-md-4
                    strong Account No:
                    br
                    {account_no}153522{/}
        .col-lg-12
          .panel.panel-default
            .panel-body
                .col-md-12
                  h2 TIN and PAN Information
                  br
                .col-md-12
                  .col-md-4
                    strong Country:
                    br
                    {os_country}India{/}
                  .col-md-8
                    .row
                      .col-md-6
                       .checkbox-nice.xepan-push 
                          input#checkbox-1(type='checkbox')
                          span.col-sm-2
                          label(for='checkbox') TIN
                      .col-md-3
                          strong TIN-NO:
                      .col-md-3  
                          {tin_no}215451321{/}
                    .row
                      .col-md-6
                          .checkbox-nice
                            input#checkbox-1(type='checkbox')
                            span.col-sm-2
                            label(for='checkbox') PAN
                      .col-md-3
                        strong PAN-NO: 
                      .col-md-3  
                        {pan_it_no}21566523{/}
        .col-lg-12
          .panel.panel-default
            .panel-body
                .col-md-12
                  h2 Department
                  br
                .col-md-12
                  .col-md-2
                  .col-md-5
                      .row
                        .checkbox-nice
                          input#checkbox-1(type='checkbox')
                          span.col-sm-2
                          label(for='checkbox') HR
                      .row
                        .checkbox-nice
                          input#checkbox-1(type='checkbox')
                          span.col-sm-2
                          label(for='checkbox') Production
                      .row
                        .checkbox-nice
                          input#checkbox-1(type='checkbox')
                          span.col-sm-2
                          label(for='checkbox') Store
                  .col-md-5.pull-right
                    label
                    strong Address:
                    div {os_address}A-124 Ram Nagar, Sodala, Pink-City{/}
        .col-lg-12
          .panel.panel-default
            .panel-body
                .col-md-12
                  h2 Remark
                .col-md-12
                  .atk-form-row{$remark}
              
        