
<div id="tab-portfolio">{$portfolio}
  <div class="col-lg-12"></div>
  <div class="panel panel-default">
    <div class="panel-body"> 
      <div class="col-lg-12 xepan-push">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-12">
                <h2>Banking Information</h2><br/>
              </div>
              <div class="col-md-12">
                <div class="col-md-4"><strong>Bank Name:</strong><br/>{bank_name}state Bank of India{/}</div>
                <div class="col-md-4"> <strong>Account Type:</strong><br/>{account_type}Current{/}</div>
                <div class="col-md-4"><strong>Account No:</strong><br/>{account_no}153522{/}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-12">
                <h2>TIN and PAN Information</h2><br/>
              </div>
              <div class="col-md-12">
                <div class="col-md-4"><strong>Country:</strong><br/>{os_country}India{/}</div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="checkbox-nice xepan-push"> 
                        <input id="checkbox-1" type="checkbox"/><span class="col-sm-2"></span>
                        <label for="checkbox">TIN</label>
                      </div>
                    </div>
                    <div class="col-md-3"><strong>TIN-NO:</strong></div>
                    <div class="col-md-3">
                       
                      {tin_no}215451321{/}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="checkbox-nice">
                        <input id="checkbox-1" type="checkbox"/><span class="col-sm-2"></span>
                        <label for="checkbox">PAN</label>
                      </div>
                    </div>
                    <div class="col-md-3"><strong>PAN-NO: </strong></div>
                    <div class="col-md-3">
                       
                      {pan_it_no}21566523{/}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-12">
                <h2>Department</h2><br/>
              </div>
              <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                  <div class="row">
                    <div class="checkbox-nice">
                      <input id="checkbox-1" type="checkbox"/><span class="col-sm-2"></span>
                      <label for="checkbox">HR</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="checkbox-nice">
                      <input id="checkbox-1" type="checkbox"/><span class="col-sm-2"></span>
                      <label for="checkbox">Production</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="checkbox-nice">
                      <input id="checkbox-1" type="checkbox"/><span class="col-sm-2"></span>
                      <label for="checkbox">Store</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 pull-right">
                  <label></label><strong>Address:</strong>
                  <div>{os_address}A-124 Ram Nagar, Sodala, Pink-City{/}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-md-12">
                <h2>Remark</h2>
              </div>
              <div class="col-md-12">
                <div class="atk-form-row">{$remark}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>