#user-profile
  | {$Content}
  .row
    .col-lg-12.col-md-12.col-sm-12
      {$contact_view_full_width}
    .col-lg-3.co-md-4.col-sm-4 {$contact_view}
    {details}
    .col-lg-9.col-md-8.col-sm-8
        .main-box.clearfix
          .tabs-wrapper.profile-tabs
            ul.nav.nav-tabs.responsive-tabs
              li.active
                a(data-toggle='tab', href='#tab-portfolio') Portfolio
              li
                a(data-toggle='tab', href='#tab-orderstatus') OrderStatus 
              li
                a(data-toggle='tab', href='#tab-activity') Activity
            .tab-content
                #tab-orderstatus.tab-pane
                  {orderstatus} save information first{/}
                #tab-portfolio.tab-pane.active
                  {portfolio}Please save basic information first{/}
                #tab-activity.tab-pane
                  {activity}  save basic information first{/}
    {/}